.peopleCard{
  display: flex;
  justify-content: space-between;
  height: 36px;

}

.info{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

}

.buttons{
  white-space: nowrap;

}
